@import "../mixins";

.wrapper {
  font-size: 1rem;
  background-color: $body-bg;
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

  * {
    user-select: none;
  }

  :global {
    .navbar-nav {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
