@import '../../mixins';

.wrapper {
  display: flex;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  .profile {
    margin-bottom: auto;

    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }

    @include media-breakpoint-up(md) {
      margin-right: 24px;
    }
  }

  .main {
    flex: 1;

    > div {
      margin-bottom: auto;
    }
  }
}
