@import "custom";
@import "vendors/bootswatch/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "vendors/bootswatch/darkly/bootswatch";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 60px;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
